@import './Card.css';
@import './Feed.css';
@import './Navigation.css';
@import './Room.css';
@import './CheckInDetails.css';
@import './AirCover.css';
@import './ListingDescription.css';
@import './AirCoverModal.css';
@import './ListingGalleryModal.css';
@import './Sidebar.css';
@import './ListingDescriptionModal.css';
@import './SleepingArrangements.css';
@import './Amenities.css';
@import './Review.css';
@import './ReviewModal.css';
@import './LocationMaps.css';
@import './HostInfo.css';
@import './ContactHost.css';
@import './HostRules.css';
@import './Footer.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container, .main-feed-container {
    width: 90%;
    margin: 0 auto;
}


.rdrDefinedRangesWrapper {
    display: none;
}

.date-range-container {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
}
