@import './Card.css';
@import './Feed.css';
@import './Navigation.css';
@import './Room.css';
@import './CheckInDetails.css';
@import './AirCover.css';
@import './ListingDescription.css';
@import './AirCoverModal.css';
@import './ListingGalleryModal.css';
@import './Sidebar.css';
@import './ListingDescriptionModal.css';
@import './SleepingArrangements.css';
@import './Amenities.css';
@import './Review.css';
@import './ReviewModal.css';
@import './LocationMaps.css';
@import './HostInfo.css';
@import './ContactHost.css';
@import './HostRules.css';
@import './Footer.css';
@import './RedirectToHomePage.css';

/* Main */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto, open-sans,sans-serif;
}

.main-container, .main-feed-container {
    width: 90%;
    margin: 0 auto;
}

/* Icons */

.fa-icon {
    width: 20px;
    margin-right: 6px;
}

/* Date Picker */

.rdrDefinedRangesWrapper {
    display: none;
}

.date-range-container {
    line-height: 30px;
}

/* New Section */

.check-in-info, .air-cover-container, .listing-description-container, .arrangements-container, .amenities-main-wrapper,
.amenities-container, .date-range-container, .review-container, .mobile-search-bar-container {
    margin: 2rem auto;
}
