@import './Card.css';
@import './Feed.css';
@import './Navigation.css';
@import './Room.css';
@import './CheckInDetails.css';
@import './AirCover.css';
@import './ListingDescription.css';
@import './AirCoverModal.css';
@import './ListingGalleryModal.css';
@import './Sidebar.css';
@import './ListingDescriptionModal.css';
@import './SleepingArrangements.css';
@import './Amenities.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 90%;
    margin: 0 auto;
}