.card-container {
    height: 400px;
    width: 100%;
    position: relative;
}

.card-image {
    margin-bottom: 10px;
    position: relative;
}

.card-image div {
    border-radius: 15px;
    width: 100% !important;
} 

.card-overlay {
    position: absolute;
    top: 55%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.50), transparent);
    width: 100%;
    height: 45%;
    z-index: 1;
}

.card-favourite {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    z-index: 1;
}

.fa-heart {
    opacity: 0.75;
    color: rgba(0, 0, 0, 0.75);
}

.fa-heart:hover {
    color: rgba(238, 24, 24, 0.75);
}


.card-description {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

.card-location, .card-price span {
    font-family: 'Inter', sans-serif;
    font-weight: 425;
}

.card-distance-date {
    font-weight: 100;
    color: #717171;
    line-height: 1.2;
    margin-bottom: 5px;
}

.fa-star {
    margin-left: 3px;
}

