/* .listing-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-items: center;
} */

.listing-container {
    /* width: auto;
    margin: 0 auto; */
    display: grid;
    gap: 28px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}


@media (min-width: 400px) {
    .listing-container { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 550px) {
    .listing-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 800px) {
    .listing-container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
    .listing-container { grid-template-columns: repeat(4, 1fr); }
}