.review-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.review-title {
    display: flex;
    gap: 10px;
}

.review-title .fa-star {
    margin-right: 5px;
}

/* Review */
.review-rating-border {
    border: 1px solid black;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(235, 235, 235);
}

.review-rating-bar {
    height: 5px;
    width: 70%;
    background-color: black;
}

.review-rating-container, .testimonial-box-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 30px;
    grid-column-gap: 100px;
    margin-bottom: 40px;
}

.review-rating-cleanliness {
    display: flex;
    justify-content: space-between;
}

.review-rating-bar-container {
    display: flex;
    gap: 10px;
}

.review-rating-bar-wrapper {
    align-self: center;
}

/* Testimonial */

.testimonial-box {
    width: 500px;
    /* height: 200px; */
    min-height: 200px;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.customer-profile-pic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.customer-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.customer-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.testimonial-box-body { 
    /* Height of box container is 200px */
    min-height: 100px;
}

/* Comment Reviews */

.testimonial-comment {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.testimonial-comment p {
    width: 90%;
}

.testimonial-comment-modal {
    margin-top: 10px;
}

.testimonial-comment-modal a {
    color: black;
}

.review-show-more-link {
    text-decoration: underline;
    cursor: pointer;
    position: relative;
}

.fa-greater-than {
    position: absolute;
    left: 80px;
    top: 5px;
    font-size: .7rem;
}

.display-modal-reviews {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    margin-top: -40px;
}