#portal .review-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
  }

  .review-modal-container > .modal {
    z-index: 1;
    width: 80%;
    max-width: 1000px;
    height: 90%;
    background: white;
    border-radius: 15px;
    position: relative;
    animation: animate 0.3s;
    display: flex;
    padding: 70px 20px 30px 20px;
    flex-direction: column;
  }

  .modal button {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 8px 11px;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    background: none;
    font-size: 1rem;
  }

  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

.modal-listing-review {
    display: flex;
    justify-content: space-between;
}

.modal-review-container {
    overflow: hidden;
}

.modal-customer-reviews {
  overflow: scroll;
}

/* Customer Reviews */
.modal-testimonial-box {
    width: 500px;
    /* height: 200px; */
    min-height: 100px;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 40px;
}

.modal-testimonial-box:last-child {
    margin-bottom: 0;   
}

.modal-customer-profile-pic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.modal-customer-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.modal-customer-profile {
    display: flex;
    gap: 10px;
    align-items: center;
}

#review-search {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    padding-left: 40px;
}

.input-container {
    position: relative;
    min-width: 500px;
    margin-bottom: 30px;
}

.modal-search-icon {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 1rem;
    color: black;
    background: none;
}

/* Flex */
.modal-category-reviews {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-review-rating {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.modal-review-container {
  display: flex;
  justify-content: space-between;
}

/* Mobile */

@media screen and (max-width: 1000px) {
  .review-modal-container > .modal {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    position: relative;
    gap: 0px;
    flex-direction: column;
    overflow: scroll;
  }

  .input-container {
    margin-top: 20px;
    min-width: 400px;
    width: 98%;
  }

  .modal-listing-review {
    width: 100%;
  }

  #review-search {
    width: 97%;
  }

  .modal-listing-review {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    padding-top: 40px;
    display: block;
  }

  .modal-category-reviews {
    margin-top: 0px;
  }

  .review-rating-border { 
    width: 200px;
  }

  .modal-customer-reviews {
    margin-top: 20px;
  }

  .modal-testimonial-box {
    width: 100%;
  }

  .modal-review-container {
    flex-grow: 1;
    padding-top: 90px;
    display: block;
    overflow: visible;
  }

  .modal button {
    top: 0px;
    left: -5px;
  }
}


