.listing-information {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.listing-stats, .listing-social-plugins {
    display: flex;
    gap: 10px;
}

.listing-stats li {
    list-style: none;
}

.listing-stats li:before {
    content:"· ";
    font-size: 20px;
    vertical-align: middle;
    line-height: 20px;
}

.listing-stats li:last-child span {
    text-decoration: underline;
}

.social-icons {
    margin-right: 7px;
}

.listing-stats li:first-child:before {
    content: "";
}

.listing-main-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Image Grid */
.listing-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin-top: 20px;
}

.listing-gallery-images {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.listing-gallery > img:first-child {
    grid-column: span 2;
    grid-row: span 2;
}

.listing-gallery-images-container:last-child {
    position: relative;
}

.expand-listing-gallery {
    padding: 10px;
    width: 175px;
    border: 1px solid black;
    border-radius: 13px;
    text-align: center;
    background: white;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


/* Start */

/* .accommodation-specs ul {
    display: flex;
    gap: 20px;
}

.accommodation-specs ul li:first-child {
    list-style: none;
}

.accommodation-container {
    display: flex;
    width: 60%;
    margin-top: 30px;
    height: 56px;
    justify-content: space-between;
}

.host-profile-picture img {
    height: 56px;
}

.host-profile-picture {
    align-self: center;
}

.accommodation-details {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accommodation-header p {
    font-size: 1.65em;
    font-weight: bold;
}

.listing-description {
    display: flex;
    justify-content: space-between;
}



*/

/* Left Side Content */

.listing-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-side-content {
    width: 60%;
}

.left-side-content, .right-sidebar {
    margin-top: 40px;
}

.listing-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.accommodation-specs ul {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.accommodation-specs ul li:first-child {
    list-style: none;
}

.host-profile-picture img {
    height: 56px;
}

.accommodation-header p {
    font-size: 1.45em;
    font-weight: bold;
}





